* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    margin: 0px;
    font-weight: unset;
}
.contenedor{
    padding: 20px;
}
.fila{
    display: flex;
    flex-wrap: nowrap;
}
.logo{
    width: 50vw;
    padding-left: 50px;
}

.logo img{
    margin-top: 20px;
    width: 150px;
}

.navbar{
    width: 50vw;
    font-size: 1em;
}

.navbar ul li{
    display: inline-block;
    padding: 10px;
    justify-content: center;
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    text-decoration: none;
    font-weight: bold;
    margin-left: 40px;
}

.activo{
    border:1px solid blue;
    border-radius: 25px 25px 25px 25px;
    color: blue;
    text-align: center;
    width: 20%;
}

.mensaje{
    margin-top: 10%;
    padding-left: 50px;
    width: 50vw;
}

.vector_1{
    width: 50vw;
}