<div class="contenedor"> 
    <div class="fila">
        <div class="logo">
            <img src="https://d27i7n2isjbnbi.cloudfront.net/careers/photos/203206/thumb_photo_1612537564.png">
    </div>
    <div class="navbar">
            <ul>
                <li>Inicio</li>
                <li>Beneficios</li>
                <li class="activo">Login</li>
            </ul>
    </div>
    </div>
    <div class="fila">
        <div class="mensaje">
            <h1>Bienvenido a tu</h1>
            <h1><strong>Entrevista Técnica</strong> En</h1>
            <h1 style="color:rgb(85, 170, 0)"><strong> Wolox </strong> </h1>
        </div>
    </div>

</div>
