@font-face{
    font-family: 'FiraSans-Medium';
    src: url("http://localhost:4200/assets/Fonts/Fira_Sans/FiraSans-Medium.ttf");
}

* {
    font-family: 'FiraSans-Medium',Helvetica, Arial, Verdana, Tahoma, sans-serif;;
    box-sizing: border-box;
}

h1{
    margin: 0px;
    font-weight: unset;
}
.contenedor{
    padding: 20px;
}
.fila{
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width: 750px) {
    .fila{
        display: flex;
        flex-wrap: wrap;
    }
  }

.logo{
    width: 50vw;
    padding-left: 50px;
}

.logo img{
    margin-top: 20px;
    width: 150px;
}

.navbar{
    width: 50vw;
    font-size: 1em;
}

.navbar ul{
    flex-direction: column;
    align-items: start;
}

.navbar ul li{
    padding: 10px;
    display: inline-block;
    justify-content: center;
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    text-decoration: none;
    font-weight: bold;
    margin-left: 40px;
    cursor: pointer;
    transition: 0.5s;

}
.navbar ul li:hover {
    color: rgb(94, 100, 100);
  }

.navbar ul li:nth-child(3):hover {
    background-color: #031b1d;
    color: white;
  }
 

.activo{
    border:1px solid #33ABE1;
    border-radius: 25px 25px 25px 25px;
    color: #2AA7DF;
    text-align: center;
    width: 20%;
}

.mensaje{
    margin-top: 10%;
    padding-left: 50px;
    width: 50vw;
}

.vector_1{
    width: 50vw;
}

.img_woloxer{
    width: 50vw;
    height: 50vh;
    padding-left: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://localhost:4200/assets/img_woloxer.png');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text_woloxer {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .seccion_trabajamosJuntos{
      width: 50vw;
      text-align: center;
      padding: 50px;
      margin-top: 100px;

  }

  .header{
    background-image: url('http://localhost:4200/assets/Backgrounds/Bg_Header.png');
    background-size: contain;
    background-position: center;
  }